.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 7px 8px 18px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 8px 18px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 8px 18px -5px rgba(0, 0, 0, 0.75);
}
.charttitle {
  margin-bottom: 20px;
}
